.companies {
  &__heading {
    margin-bottom: 50px;
  }

  &__slider {
    padding: 0 0 100px;
    position: relative;
    margin: 0 -20px;
  }

  &__slide {
    outline: none;
    margin: 0 20px;
  }

  &__img{
    padding: 25% 0;
  }

  .my-slick-prev {
    bottom: 0;
    left: calc(50% - 37px);
    transform: translateX(-50%);
  }

  .my-slick-next {
    bottom: 0;
    left: calc(50% + 37px);
    transform: translateX(-50%);
  }
}