.lifestyle {

  &__inner {

  }

  &__docs {
    margin: 100px 0 80px;
    padding-bottom: 80px;
  }

  &__doc {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__doc-img {

  }

  .my-slick-prev {
    bottom: 0;
    left: calc(50% - 37px);
    transform: translateX(-50%);
  }

  .my-slick-next {
    bottom: 0;
    left: calc(50% + 37px);
    transform: translateX(-50%);
  }

  &__photos {
    margin-top: 40px;
    display: grid;
    grid-template-columns: .7fr 1fr .5fr;
    grid-template-rows: auto;
    grid-column-gap: 40px;
    grid-row-gap: 34px;
    grid-template-areas: 'img-1 img-2 img-3' 'img-1 img-4 img-5';

    @media (max-width: 1600px) {
      grid-column-gap: 30px;
      grid-row-gap: 20px;
    }

    @media (max-width: 1024px) {
      grid-column-gap: 15px;
      grid-row-gap: 10px;
    }

    @media (max-width: 768px) {
      margin-top: 20px;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'img-1 img-1' 'img-2 img-3' 'img-4 img-5';
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
      grid-template-areas: 'img-1' 'img-2' 'img-3' 'img-4' 'img-5';
    }
  }

  &__photo {
    display: none;
    width: 100%;
    height: 417px;
    position: relative;

    @media (max-width: 1600px) {
      height: 317px;
    }

    @media (max-width: 1024px) {
      height: 217px;
    }

    @media (max-width: 768px) {
      height: 150px;
    }

    @media (max-width: 480px) {
      height: 150px;
    }

    &::after {
      display: none;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -30%) scale(.8);
      width: 56px;
      height: 56px;
      background: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.5 43.5C34.098 43.5 43.5 34.098 43.5 22.5C43.5 10.902 34.098 1.5 22.5 1.5C10.902 1.5 1.5 10.902 1.5 22.5C1.5 34.098 10.902 43.5 22.5 43.5Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M38.25 38.25L50.5 50.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.5 22.5H29.5M22.5 15.5V29.5V15.5Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center center/contain no-repeat;
      transition: all .2s ease;
    }

    img {
      border-radius: 30px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: all .2s ease;

      @media (max-width: 768px) {
        filter: drop-shadow(5px 5px 15px #000000) brightness(70%);
        transition: all .2s ease;
      }
    }

    &:hover {
      img {
        filter: drop-shadow(5px 5px 15px #000000) brightness(70%);
        transition: all .2s ease;
      }

      &::after {
        display: block;

        @media (max-width: 769px) {
          display: none;
        }
      }
    }
  }

  .img-1 {
    grid-area: img-1;
    display: block;
    min-height: 868px;

    @media (max-width: 1600px) {
      min-height: 658px;
    }

    @media (max-width: 1024px) {
      min-height: 448px;
    }

    @media (max-width: 768px) {
      min-height: auto;
    }
  }

  .img-2 {
    grid-area: img-2;
    display: block;
  }

  .img-3 {
    grid-area: img-3;
    display: block;
  }

  .img-4 {
    grid-area: img-4;
    display: block;
  }

  .img-5 {
    grid-area: img-5;
    display: block;
  }
}

#lg-download, #lg-actual-size {
  display: none;
}

.lg-backdrop {
  background-color: rgba(16, 16, 16, .95);
}
