.btn {
    min-width: 261px;
    height: 45.2px;
    background: #E31E24;
    border-radius: 16px;
    border: none;
    outline: none;
    font-family: 'Montserrat';
    font-size: 1.4rem;
    cursor: pointer;
    position: relative;
    color: #fff;
    transition: all .2s ease;
    &:hover {
        transition: all .2s ease;
        background-color: rgba(207,207,207, .9);
    }
    &.form__btn {
        margin-top: 13px;
        width: 305px;
    }
    &.infoblock__btn {
        min-width: 305px;
        height: 49.13px;
    }
    &.warranty__btn {
        min-width: 305px;
        height: 49.13px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
}