.companies {
    padding: 108px 0 101px;
    background: linear-gradient(0deg, rgba(16, 16, 16, 0.84), rgba(16, 16, 16, 0.84)), url(../img/bg/companiesbg.jpg) center center/cover no-repeat;
    &__title {
        margin-bottom: 50px;
        font-weight: 500;
        font-size: 4.2rem;
        text-align: center;
        text-transform: uppercase;
    }
    &__slider {
        padding: 0 0px 100px;
        position: relative;
        .my-slick-prev {
            bottom: 0;
            right: 50%;
            transform: translateX(-35%);
        }
        .my-slick-next {
            bottom: 0px;
            right: 50%;
            transform: translateX(135%);
        }
    }
    &__slide {
        outline: none;
        &.slick-slide {
            opacity: .5;
            width: 100px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                transform: scale(.7);
                transition: all .5s ease;
            }
            // &.lslide, &.rslide {
            //     img {
            //         transform: scale(.7);
            //         transition: all .5s ease;
            //     }
            // }
        }
        &.slick-slide.slick-center {
            opacity: 1;
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                transform: scale(1);
                transition: all .5s ease;
            }
        }
    }
}