.footer {
  background: linear-gradient(0deg, rgba(16, 16, 16, 0.84), rgba(16, 16, 16, 0.84)), url(../img/ukrneon/footer-bg.png) center center/cover no-repeat;

  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 -50px;

    @media (max-width: 1600px) {
      margin: 0 -30px;
    }

    @media (max-width: 1280px) {
      flex-wrap: wrap;
    }

    @media (max-width: 768px) {
      margin: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    margin: 0 50px;

    @media (max-width: 1600px) {
      width: 260px;
      margin: 0 30px;
    }

    @media (max-width: 768px) {
      width: 100%;
      margin: 0;
    }
  }

  &__map {
    width: calc(100% - 300px - 500px - 300px);
    height: 570px;
    border-radius: 31px;
    overflow: hidden;
    margin: 0 50px;

    iframe {
      width: 100%;
      height: 100%;
    }

    @media (max-width: 1600px) {
      width: calc(100% - 260px - 410px - 180px);
      margin: 0 30px;
    }

    @media (max-width: 1280px) {
      margin-top: 60px;
      width: 100%;
      order: 3;
    }
  }

  &__form-block {
    margin: 0 50px;

    @media (max-width: 1600px) {
      margin: 0 30px;
    }

    @media (max-width: 768px) {
      width: 100%;
      margin: 60px auto;
    }
  }

  &__place, &__contacts {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      justify-content: center;
    }

    &_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
      width: 75px;
      height: 75px;
      background: linear-gradient(317.11deg, #0C0C0C 0%, #2B2B2B 100%);
      border-radius: 100%;
    }

    &_title {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 3.2rem;
    }
  }

  &__address {
    margin: 16px 0 70px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3.2rem;

    @media (max-width: 768px) {
      margin: 10px 0 50px;
      text-align: center;
    }
  }

  &__links {
    margin-top: 41px;

    @media (max-width: 768px) {
      margin-top: 20px;
      text-align: center;
    }
  }

  &__link {
    display: inline-block;
    margin-bottom: 11px;
    font-weight: 300;
    font-size: 1.8rem;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      transform: scale(0);
      transition: all .2s ease;
    }

    &:hover {
      color: #ffffff;

      &::before {
        transform: scale(1);
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__soc {
    display: flex;
    margin-top: 55px;

    @media (max-width: 768px) {
      justify-content: center;
    }

    &_item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36.5px;
      height: 36.5px;
      margin-right: 51px;
      transition: all .2s ease;

      &:hover {
        path {
          fill: #E31E24;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}