.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: inherit;
  padding: 45px 0;
  z-index: 100;
  transition: all .2s ease;

  @media (max-width: 1600px) {
    padding: 30px 0;
  }

  @media (max-width: 1366px) {
    padding: 20px 0;
  }

  &.sticky {
    padding: 15px 0;
    background: rgba(0, 0, 0, .9);
  }
  &.sticky &{
    &__contacts{
      opacity: 0;
      visibility: hidden;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__logo {
    height: 65px;
    width: auto;

    @media (max-width: 1366px) {
      height: 55px;
    }
  }

  &__logo-img{
    height: 100%;
    width: auto;
  }

  &__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 25px 0 90px;

    @media (max-width: 1600px) {
      margin-left: 50px;
    }

    @media (max-width: 1366px) {
      display: none;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__item {
    margin-right: 30px;
    position: relative;

    a {
      font-weight: 500;
      font-size: 1.8rem;
      color: #fff;
    }

    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      transform: scale(0);
      transition: all .2s ease;
    }

    &:hover {
      &::before {
        transform: scale(1);
      }

      .navbar__submenu {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__submenu {
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
    position: absolute;
    background: rgba(0, 0, 0, .9);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 15px 20px;
    width: max-content;
    border-radius: 15px;

    @media (max-width: 1024px) {
      display: none;
    }

    li {
      + li {
        margin-top: 10px;
      }
    }
  }

  &__subitem {
    font-weight: 500;
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      transform: scale(0);
      transition: all .2s ease;
    }

    &:hover {
      &::before {
        transform: scale(1);
      }
    }
  }

  &__contacts {
    margin-left: auto;
    font-weight: 500;
    text-align: right;
    margin-right: 30px;
    transition: visibility .2s ease, opacity .2s ease;

    @media (max-width: 1600px) {
      position: absolute;
      left: 0;
      text-align: left;
      bottom: -20px;
      transform: translateY(100%);
    }

    @media (max-width: 1366px) {
      position: static;
      transform: none;
      margin-right: auto;
      margin-left: 30px;
    }

    @media (max-width: 1024px) {
      display: none;
    }

    a {
      color: #fff;
      font-size: 2.1rem;
      text-decoration: none;
      position: relative;
      display: block;
      width: max-content;

      &::before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        transform: scale(0);
        transition: all .2s ease;
      }

      &:hover {
        &::before {
          transform: scale(1);
        }
      }
    }
  }

  &__city{
    color: #fff;
    font-size: 1.4rem;
  }

  &__btn {
    margin-left: auto;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__burger-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: auto;

    @media (min-width: 1367px) {
      display: none;
    }

    span {
      width: 30px;
      height: 3px;
      border-radius: 3px;
      background: #ffffff;
      margin-left: 30px;
      display: block;

      & + span {
        margin-top: 5px;
      }
    }
  }
}