.warranty {
    padding: 125px 0;
    &__title {
        font-weight: 600;
        font-size: 4.2rem;
        text-align: center;
        color: #292929;
    }
    &__slider {
        padding: 80px 0 0px 0;
        .my-slick-prev {
            top: 0px;
            right: 74px;
        }
        .my-slick-next {
            top: 0px;
            right: 0px;
        }
    }
    &__slide {
        margin: 0 20px 30px;
        width: 420px;
        border-radius: 30px;
        background: #F7F7F7;
        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.4);
        outline: none;
        position: relative;
        &_img {
            width: 100%;
            height: 300px;
            overflow: hidden;
            position: relative;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
                transition: all .2s ease;
            }
        }
        &_text {
            color: #292929;
            padding: 30px 20px;
            border-radius: 30px;
        }
        &_title {
            min-height: 190px;
            font-weight: bold;
            font-size: 2.4rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 768px) {
                font-size: 1.8rem;
            }
        }
        &_info {
            margin-top: 35px;
            font-size: 1.8rem;
            line-height: 2.9rem;
            span {
                font-weight: bold;
            }
        }
        &_descr {
            margin-top: 30px;
            font-size: 1.7rem;
            line-height: 2.8rem;
        }
    }
}